<div class="headers">
<h1 class="header">BORROW MY DINO</h1>
<h2 class="header2">Your Dino</h2></div>
<div class="container">
  <%= @dinosaur.name %>
  <%= @dinosaur.description %>
  <%= @dinosaur.age %>
  <%= @dinosaur.origin %>

  <h3><%= link_to "bookings", new_dinosaur_booking_path(@dinosaur), class: "btn btn-primary" %></h3>
</div>
