<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <h3 class="slogan justify-content-center"><%= @dinosaur.name %></h3>
</div>

<main class="container d-flex dino-show-main" >
  <div class="d-inline-flex mt-5">
    <div class="dino-images">
      <div class="dino-image1">
        <figure>
          <%= cl_image_tag @dinosaur.photo.key, class: "dino-img" %>
        </figure>
      </div>
      <%# <div class="dino-image-multiple">
        <figure>
          <img class="dino-img" src="https://www.nicepng.com/png/detail/18-180386_dinosaur-png-transparent-picture-t-rex-transparent-background.png">
        </figure>
        <figure>
          <img class="dino-img" src="https://www.nicepng.com/png/detail/18-180386_dinosaur-png-transparent-picture-t-rex-transparent-background.png">
        </figure>
      </div>
      <div class="dino-image-multiple">
        <figure>
          <img class="dino-img" src="https://www.nicepng.com/png/detail/18-180386_dinosaur-png-transparent-picture-t-rex-transparent-background.png">
        </figure>
        <figure>
          <img class="dino-img" src="https://www.nicepng.com/png/detail/18-180386_dinosaur-png-transparent-picture-t-rex-transparent-background.png">
        </figure>
      </div> %>
    </div>
    <div class="dino-show-book">
      <div  class="dino-content">
        <div class="description">
          <p class="dino-info2"> <%= @dinosaur.description %>, <%= @dinosaur.age %>, from <%= @dinosaur.origin %> </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<p>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-block">
    <%= link_to "reserve", new_dinosaur_booking_path(@dinosaur) %>
    <h3 class="slogan">Reserve Dino</h3>
  </button>
</main>
