<main class="container d-flex dino-show-main" >
  <div class="headers">
    <h2 class="header2 justify-content-center"><%= @dinosaur.name %></h2>
  </div>
  <div class="d-inline-flex">
  <div class="dino-images">
    <div class="dino-image1">
      <figure>
        <%= cl_image_tag @dinosaur.photo.key, class: "dino-img" %>
      </figure>
    </div>
    <%# <div class="dino-image-multiple">
      <figure>
        <img class="dino-img" src="https://www.nicepng.com/png/detail/18-180386_dinosaur-png-transparent-picture-t-rex-transparent-background.png">
      </figure>
      <figure>
        <img class="dino-img" src="https://www.nicepng.com/png/detail/18-180386_dinosaur-png-transparent-picture-t-rex-transparent-background.png">
      </figure>
    </div>
    <div class="dino-image-multiple">
      <figure>
        <img class="dino-img" src="https://www.nicepng.com/png/detail/18-180386_dinosaur-png-transparent-picture-t-rex-transparent-background.png">
      </figure>
      <figure>
        <img class="dino-img" src="https://www.nicepng.com/png/detail/18-180386_dinosaur-png-transparent-picture-t-rex-transparent-background.png">
      </figure>
    </div> %>
  </div>
    <div class="dino-show-book">
      <h3 class="text-center">Book Now</h3>
      <div class="">
        <%# <div class="datepicker date-period">
          <div class="start-input">
            <label for="start_date"> To </label>
            <input type="date" id="start" name="start_date">
          </div>
          <div class="end-input">
            <label for="end_date"> From </label>
            <input type="date" id="end" name="end_date">
          </div>
        </div> %>
        <button class="btn btn-primary">
          <%= link_to "reserve", new_dinosaur_booking_path(@dinosaur) %>
        </button>
      </div>
      <div class="">
        <hr>
        <div class="book-total">
          <p><strong>Total:</strong></p>
          <p class="total-price"> £<%= @dinosaur.daily_rate %></p>
        </div>
      </div>
    </div>
  </div>
   </div>
  <div  class="dino-content">
    <div class="description">
      <p class="dino-info2"> <%= @dinosaur.description %>, <%= @dinosaur.age %>, from <%= @dinosaur.origin %> </p>
      <p>
       <%= @dinosaur.bio %>
      <p>
    </div>
</main>
