<div class="container">
  <div class="row pt-1">
    <div class="col m-2 pb-2 bg-white">
      <h1>New Booking</h1>
      <p class="dino-info"><%= @dinosaur.name %></p>
      <p class="dino-info2"> <%= @dinosaur.description %>, <%= @dinosaur.age %>, from <%= @dinosaur.origin %> </p>
      <h2>Image goes here</h2>
    </div>
    <div class="col m-2 pb-2 bg-white text-center">
      <h2 class="p-2">Pay Now</h2>
      <% if user_signed_in? %>
        <form>
          <%# <div class="datepicker pb-3">
            <label for="start_date"> Start Date </label>
            <input type="date" id="start" name="start_date">
            <label for="end_date"> End Date </label>
            <input type="date" id="end" name="end_date">
          </div> %>

          <div class="payment-type">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Card">
              <label class="form-check-label" for="inlineRadio1">Card</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Cash">
              <label class="form-check-label" for="inlineRadio2">Cash</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Steak">
              <label class="form-check-label" for="inlineRadio3">Steak</label>
            </div>
            <div class="show-price p-3">
              <h2>Total Price: $XX</h2>
            </div>
          </div>
          <button type="submit" class="btn btn-primary center">Book Now</button>
        </form>
      <% else %>
        <div>
          <%= link_to 'Login', new_user_session_path, :class => "btn btn-primary" %>
          <button type="button" class="btn btn-secondary">Checkout as Guest</button>
        </div>

      <% end %>

    </div>
  </div>
</div>


<%# <h3><%= link_to "Request to book", booking_path(@), class: "btn btn-primary" %>
