<div class="bookings-container container">
  <div class="row pt-1">
    <div class="col m-2 pb-2 bg-white">
      <h1>Booking Summary</h1>
      <h2 class="dino-info"><%= @dinosaur.name %></h2>
      <h3 class="dino-info2"> <%= @dinosaur.description %>, <%= @dinosaur.age %>, from <%= @dinosaur.origin %> </p>
      <div class="dino-image1">
      <figure>
        <%= cl_image_tag @dinosaur.photo.key, class: "dino-img" %>
      </figure>
    </div>
    </div>
    <div class="col m-2 pb-2 bg-white text-center">
      <h2 class="p-2">Pay Now</h2>
        <%= simple_form_for [@dinosaur,@booking] do |form| %>
          <%= form.input :start_date, html5:true %>
          <%= form.input :end_date, html5:true %>
          <%= form.button :submit, class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>


<%# <h3><%= link_to "Request to book", booking_path(@), class: "btn btn-primary" %>
